<h5>Listado General</h5>


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Sexo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody *ngFor="let cliente of this.inClientes,let i=index;">
        <tr [ngClass]="this.isClientePorActualizar(cliente)?'table-active':''">
            <th scope="row" class="align-middle text-start"> <i *ngIf="this.isClientePorActualizar(cliente)" class="bi bi-caret-right-fill me-2"></i> {{i+1}}</th>
            <td class="align-middle">{{cliente.nombre}}</td>
            <td class="align-middle"> {{cliente.apellido}}</td>
            <td class="align-middle"> {{cliente.email}}</td>
            <td class="align-middle">{{cliente.sexo}}</td>
            <td class="text-center align-middle">
                <button class="btn btn-danger m-1" title="Eliminar" 
                    (click)="this.onEliminarClick(cliente)"
                    [disabled]="this.seEstaActualizandoAlgunCliente()"><i class="bi bi-trash"></i></button>
                <button class="btn btn-secondary m-1" title="Actualizar" 
                    (click)="this.onActualizarClick(cliente)"
                    [disabled]="this.seEstaActualizandoAlgunCliente()"><i class="bi bi-pencil"></i></button>
            </td>
        </tr>

    </tbody>
</table>